<form action="index.php" method="post">   
    <div class=" requestForm">
        <h4>Abfrage</h4>
        <div class="inputForm">
            <label for="beginDate">Anfang: </label>
            <input type="date" id="beginDate" name="beginDate" required>
        </div>

        <div class="inputForm">
            <label for="endDate">Ende: </label>
            <input type="date" id="endDate" name="endDate" required>
        </div>

        <div class="button">
            <input type="submit" value="Abfrage senden">
        </div>
    </div>
</form>
