body {
    max-width: 800px;
    margin: auto;
}
table, th, td {
   border: 1px solid;
   border-collapse: collapse;
}
th {
   width: 200px;
   background: lightblue;
}
td {
   text-align: center;
}
tr:nth-child(even) {
   background-color: #e6ffff;
}

.requestForm {
    border: 1px blueviolet dashed;
    background: #ffe6ff;
    width: 800px;
    margin-top: 20px;
}
 .inputForm {
    margin: 5px;
}  
.inputForm label {
    display: inline-block;
    width: 80px;
}
.button {
    margin: 20px;
}
.button input {
    background: blueviolet;
    color: white;
    font-style: bold;
    border: 1px violet solid;
    width: 150px;
    height: 40px;
}
.requestForm h4 {
    margin: 0 20px 20px 0;
}
.message {
    background: #fefbd8;
    padding: 10px;
    margin-top: 20px;
}

